{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="border-bottom">
            {% if current_user.typ_konta_id == ADMIN_ID %}
                <h4>Panel administratora</h4>
            {% else %}
                <h4>Panel czytelnika</h4>
            {% endif %}
        </div>
        <dl class="row mt-3">
            <dt class="col-md-5">Imię:</dt>
            <dd class="col-md-7">{{ current_user.imie }}</dd>

            <dt class="col-md-5">Nazwisko:</dt>
            <dd class="col-md-7">{{ current_user.nazwisko }}</dd>

            <dt class="col-md-5">Email:</dt>
            <dd class="col-md-7">{{ current_user.email }}</dd>

            <dt class="col-md-5">Adres:</dt>
            <dd class="col-md-7">{{ current_user.adres }}</dd>

            <dt class="col-md-5">Biblioteka:</dt>
            <dd class="col-md-7">{{ current_user.biblioteka.nazwa }}</dd>
        </dl>
        {% if current_user.typ_konta_id == ADMIN_ID %}
        <div class="mt-2 border-top">
            <div class="ml-auto mr-2">
                <a class="btn btn-success mt-3" href="{{ url_for('books.new_book') }}" role="button">Dodaj książkę</a>
                <a class="btn btn-success mt-3 ml-2" href="{{ url_for('books.new_author') }}" role="button">Dodaj autora</a>
                <a class="btn btn-success mt-3 ml-2" href="{{ url_for('books.add_copies') }}" role="button">Dodaj egzemplarze</a>
                <a class="btn btn-secondary mt-3 ml-2" href="{{ url_for('users.users_list') }}" role="button">Lista czytelników</a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Information about books (reservation, penalties etc.) -->

    {% if current_user.typ_konta_id != ADMIN_ID %}
    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki zarezerwowane</h4>
        </div>
        {% if rbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data rezerwacji</th>
          <th scope="col" class="border-bottom">Odwołaj</th>
        </tr>
        </thead>

        <tbody>
        {% for res in rbooks %}
        <tr>
            <td>{{ res['tytul'] }}</td>
            <td>{{ res['data_rezerwacji'].strftime("%H:%M %Y-%m-%d") }}</td>

            <td>
                <form action="{{ url_for('books.remove_reservation', bcid=res['ksiazka_id'], uid=current_user.id) }}" method="POST">
                    <input id="removeBtn" class="btn btn-danger btn-sm"  type="submit" value="Odwołaj">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>
    <!-- List of books that user borrowed -->

    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki wypożyczone</h4>
        </div>
        {% if bbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data wypożyczenia</th>
        </tr>
        </thead>

        <tbody>
        {% for book in bbooks %}
        <tr>
            <td>{{ book[1] }}</td>
            <td>{{ book[2].strftime("%H:%M %Y-%m-%d") }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>

 <!-- list of penalties -->
    <div class="content-section">
        <div class="border-bottom">
            <h4>Kary nieopłacone</h4>
        </div>
        {% if penalties %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">ID egzemplarza</th>
          <th scope="col" class="border-bottom">Tytuł</th>
          <th scope="col" class="border-bottom">Typ kary</th>
          <th scope="col" class="border-bottom">Opłata</th>
        </tr>
        </thead>

        <tbody>
        {% for pen in penalties %}
        <tr>
            <td>{{ pen['copyid'] }}</td>
            <td>{{ pen['title'] }}</td>
            <td>{{ pen['pen_type'] }}</td>
            <td>{{ pen['amount']|string }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>
    {% endif %}

{% endblock content %}