{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 <div class="form-group">
                     <div class="row">

                         <div class="col-md-2">
                             {{ form.aid.label(class="form-control-label") }}
                         </div>
                         <div class="col-md-10">
                             <button type="button" class="btn btn-secondary btn-sm mb-2 float-right" data-toggle="modal" data-target="#authorsModalLong">
                              Autorzy
                            </button>
                         </div>
                     </div>

                    {% if form.aid.errors %}
                        {{ form.aid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.aid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.aid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.pid.label(class="form-control-label") }}
                    {% if form.pid.errors %}
                        {{ form.pid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.premiere_date.label(class="form-control-label") }}
                    {% if form.premiere_date.errors %}
                        {{ form.premiere_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.premiere_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.premiere_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.publication_date.label(class="form-control-label") }}
                    {% if form.publication_date.errors %}
                        {{ form.publication_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.publication_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.publication_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.ean.label(class="form-control-label") }}
                    {% if form.ean.errors %}
                        {{ form.ean(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ean(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.lang_id.label(class="form-control-label") }}
                    {% if form.lang_id.errors %}
                        {{ form.lang_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lang_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lang_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>


<!-- Authors -->
<div class="modal fade" id="authorsModalLong" tabindex="-1" role="dialog" aria-labelledby="authorsModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authorsModalLongTitle">Autorzy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-hover table-borderless">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">#</th>
          <th scope="col" class="border-bottom">Imię</th>
          <th scope="col" class="border-bottom">Nazwisko</th>
        </tr>
        </thead>

        <tbody>
        {% for author in authors %}
        <!-- onclick just to omit jquery -->
        <tr>
            <th scope="row">{{ author.id }}</th>
            <td>{{ author.imie }}</td>
            <td>{{ author.nazwisko }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}