{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="border-bottom">
            <h4>Panel administratora - informacje o użytkowniku</h4>
        </div>
        <dl class="row mt-3">
            <dt class="col-md-5">Imię:</dt>
            <dd class="col-md-7">{{ user.imie }}</dd>

            <dt class="col-md-5">Nazwisko:</dt>
            <dd class="col-md-7">{{ user.nazwisko }}</dd>

            <dt class="col-md-5">Pesel:</dt>
            <dd class="col-md-7">{{ user.pesel }}</dd>

            <dt class="col-md-5">Email:</dt>
            <dd class="col-md-7">{{ user.email }}</dd>

            <dt class="col-md-5">Adres:</dt>
            <dd class="col-md-7">{{ user.adres }}</dd>

            <dt class="col-md-5">Nazwa użytkownika:</dt>
            <dd class="col-md-7">{{ user.nazwa_uzytkownika }}</dd>

            <dt class="col-md-5">Typ konta:</dt>
            <dd class="col-md-7">{{ user.typ_konta.typ_konta }}</dd>

            <dt class="col-md-5">Biblioteka:</dt>
            <dd class="col-md-7">{{ user.biblioteka.nazwa }}</dd>
        </dl>
        <div class="mt-2 border-top">
            <div class="ml-auto mr-2">
                <a class="btn btn-success mt-3" href="{{ url_for('users.update_account', uid=user.id) }}" role="button">Zmień dane</a>
                <a class="btn btn-success mt-3 ml-2" href="{{ url_for('books.books_list', uid=user.id) }}" role="button">Wypożycz</a>
<!--                <button type="button" class="btn btn-success mt-3 ml-2" data-toggle="modal" data-target="#borrowModal">Wypożycz</button>-->
                <a class="btn btn-danger mt-3 ml-2" href="{{ url_for('users.penalize_user', uid=user.id) }}" role="button">Dodaj karę</a>
            </div>
        </div>
    </div>

    <!-- Information about books (reservation, penalties etc.) -->
    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki zarezerwowane</h4>
        </div>
        {% if rbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data rezerwacji</th>
          <th scope="col" class="border-bottom text-right pr-5">Akcja</th>
        </tr>
        </thead>

        <tbody>
        {% for res in rbooks %}
        <tr>
            <td>{{ res['tytul'] }}</td>
            <td>{{ res['data_rezerwacji'].strftime("%H:%M %Y-%m-%d") }}</td>

            <td class="text-right pr-4">
                <form action="{{ url_for('books.remove_reservation', bcid=res['ksiazka_id'], uid=user.id) }}" method="POST">
                    <input id="removeBtn" class="btn btn-danger btn-sm"  type="submit" value="Odwołaj">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>
    <!-- List of books that user borrowed -->

    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki wypożyczone</h4>
        </div>
        {% if bbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom text-left">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data wypożyczenia</th>
          <th scope="col" class="border-bottom text-right pr-5">Akcja</th>
        </tr>
        </thead>

        <tbody>
            {% for book in bbooks %}
            <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[2].strftime("%H:%M %Y-%m-%d") }}</td>
                <td class="text-right pr-4">
                     <form action="{{ url_for('users.return_book', uid=user.id, lend_id=book[3]) }}" method="POST">
                        <input id="returnBook" class="btn btn-outline-success btn-sm mr-2"  type="submit" value="Oddaj">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>

    <!-- list of penalties -->
    <div class="content-section">
            <div class="border-bottom">
                <h4>Kary nieopłacone</h4>
            </div>
            {% if penalties %}
            <table class="table table-borderless table-sm table-hover">
            <thead>
            <tr>
              <th scope="col" class="border-bottom col-2">ID egzemplarza</th>
              <th scope="col" class="border-bottom col-2">Tytuł</th>
              <th scope="col" class="border-bottom col-3">Typ kary</th>
              <th scope="col" class="border-bottom col-2">Opłata</th>
              <th scope="col" class="border-bottom text-center pl-4 col-3">Akcja</th>
            </tr>
            </thead>

            <tbody>
            {% for pen in penalties %}
            <tr>
                <td>{{ pen['copyid'] }}</td>
                <td>{{ pen['title'] }}</td>
                <td>{{ pen['pen_type'] }}</td>
                <td>{{ pen['amount']|string }}</td>
                <td class="text-right pr-5">
                <div class="btn-group ">
                    <form action="{{ url_for('users.cancel_penalty', uid=user.id, pid=pen['pid']) }}" method="POST">
                        <input id="cancelBtn" class="btn btn-outline-danger btn-sm mr-2 ml-4"  type="submit" value="Wycofaj">
                    </form>
                    <form action="{{ url_for('users.pay_penalty', uid=user.id, pid=pen['pid']) }}" method="POST">
                        <input id="paymentBtn" class="btn btn-outline-success btn-sm"  type="submit" value="Płatność">
                    </form>
                </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            {% else %}
            <div class="m-2">
                Brak
            </div>
            {% endif %}
        </div>

        <!-- list of payments -->
        <div class="content-section">
            <div class="border-bottom">
                <h4>Historia platnosci</h4>
            </div>
            {% if payments %}
            <table class="table table-borderless table-sm table-hover">
            <thead>
            <tr class="d-flex">
              <th scope="col" class="border-bottom col-2">Tytuł</th>
              <th scope="col" class="border-bottom col-5">Typ kary</th>
              <th scope="col" class="border-bottom col-2">Opłata</th>
              <th scope="col" class="border-bottom col-3 text-right pr-5">Data platności</th>
            </tr>
            </thead>

            <tbody>
            {% for pay in payments %}
            <tr class="d-flex">
                <td class="col-sm-2">{{ pay['title'] }}</td>
                <td class="col-sm-5">{{ pay['pen_type'] }}</td>
                <td class="col-sm-2">{{ pay['amount'] }}</td>
                <td class="col-sm-3 text-right pr-5" >{{ pay['pay_date'].strftime("%H:%M %Y-%m-%d") }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            {% else %}
            <div class="m-2">
                Brak
            </div>
            {% endif %}
        </div>

<!-- ********************************************************************************* -->
<!-- Modal -->
<!--<div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="borrowModalLabel">Wypożycz książkę</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--        <form action="{{ url_for('books.search_results', search_value=search_form.search_value, uid=user.id) }}" method="GET">-->
<!--        <div class="modal-body">-->

<!--          {{ search_form.hidden_tag() }}-->
<!--          <div class="form-group">-->
<!--            {{ search_form.search_value.label(class="form-control-label") }}-->
<!--            {% if search_form.search_value.errors %}-->
<!--                {{ search_form.search_value(class="form-control form-control-lg is-invalid") }}-->
<!--                <div class="invalid-feedback">-->
<!--                    {% for error in search_form.search_value.errors %}-->
<!--                        <span>{{ error }}</span>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            {% else %}-->
<!--                {{ search_form.search_value(class="form-control form-control-lg") }}-->
<!--            {% endif %}-->
<!--          </div>-->

<!--        </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>-->
<!--            {{ search_form.submit(class="btn btn-outline-success") }}-->
<!--          </div>-->
<!--        </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock content %}