{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="border-bottom">
            <h4>Panel administratora - informacje o użytkowniku</h4>
        </div>
        <dl class="row mt-3">
            <dt class="col-md-5">Imię:</dt>
            <dd class="col-md-7">{{ user.imie }}</dd>

            <dt class="col-md-5">Nazwisko:</dt>
            <dd class="col-md-7">{{ user.nazwisko }}</dd>

            <dt class="col-md-5">Pesel:</dt>
            <dd class="col-md-7">{{ user.pesel }}</dd>

            <dt class="col-md-5">Email:</dt>
            <dd class="col-md-7">{{ user.email }}</dd>

            <dt class="col-md-5">Adres:</dt>
            <dd class="col-md-7">{{ user.adres }}</dd>

            <dt class="col-md-5">Nazwa użytkownika:</dt>
            <dd class="col-md-7">{{ user.nazwa_uzytkownika }}</dd>

            <dt class="col-md-5">Typ konta:</dt>
            <dd class="col-md-7">{{ user.typ_konta.typ_konta }}</dd>

            <dt class="col-md-5">Biblioteka:</dt>
            <dd class="col-md-7">{{ user.biblioteka.nazwa }}</dd>
        </dl>
        <div class="mt-2 border-top">
            <div class="ml-auto mr-2">
                <a class="btn btn-success mt-3" href="{{ url_for('users.update_account', uid=user.id) }}" role="button">Zmień dane</a>
            </div>
        </div>
    </div>

    <!-- Information about books (reservation, penalties etc.) -->
    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki zarezerwowane</h4>
        </div>
        {% if rbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data rezerwacji</th>
          <th scope="col" class="border-bottom">Odwołaj</th>
        </tr>
        </thead>

        <tbody>
        {% for res in rbooks %}
        <tr>
            <td>{{ res['tytul'] }}</td>
            <td>{{ res['data_rezerwacji'].strftime("%H:%M %Y-%m-%d") }}</td>

            <td>
                <form action="{{ url_for('books.remove_reservation', bcid=res['ksiazka_id'], uid=user.id) }}" method="POST">
                    <input id="removeBtn" class="btn btn-danger btn-sm"  type="submit" value="Odwołaj">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>
    <!-- List of books that user borrowed -->

    <div class="content-section">
        <div class="border-bottom">
            <h4>Książki wypożyczone</h4>
        </div>
        {% if bbooks %}
        <table class="table table-borderless table-sm table-hover">
        <thead>
        <tr>
          <th scope="col" class="border-bottom">Nazwa książki</th>
          <th scope="col" class="border-bottom">Data wypożyczenia</th>
        </tr>
        </thead>

        <tbody>
        {% for book in bbooks %}
        <tr>
            <td>{{ book[1] }}</td>
            <td>{{ book[2].strftime("%H:%M %Y-%m-%d") }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div class="m-2">
            Brak
        </div>
        {% endif %}
    </div>

{% endblock content %}